In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import openpyxl

In [5]:
from load_data import load_council_tax_data

In [6]:
houses_above_0k, houses_above_52k, houses_above_88k, houses_above_160k = load_council_tax_data()

In [7]:
print(houses_above_0k.head(9))
print(houses_above_52k.head(9))
print(houses_above_88k.head(9))
print(houses_above_160k.head(9))

             area_names  property_counts
0                  Adur             7860
1             Allerdale            30070
2          Amber Valley            35060
3                  Arun            20800
4              Ashfield            41400
5               Ashford            17740
6               Babergh            16980
7  Barking and Dagenham            18060
8                Barnet            13970
             area_names  property_counts
0                  Adur            17650
1             Allerdale            12940
2          Amber Valley            17000
3                  Arun            36070
4              Ashfield            13060
5               Ashford            22740
6               Babergh            16050
7  Barking and Dagenham            56730
8                Barnet            67760
             area_names  property_counts
0                  Adur             2730
1             Allerdale             4180
2          Amber Valley             5130
3                  Arun            16460
4              Ashfield             1970
5               Ashford            12420
6               Babergh             6930
7  Barking and Dagenham             2120
8                Barnet            52600
             area_names  property_counts
0                  Adur              320
1             Allerdale              480
2          Amber Valley             1570
3                  Arun             2990
4              Ashfield              150
5               Ashford             3530
6               Babergh             1890
7  Barking and Dagenham               60
8                Barnet            20680